$width-middle:1200px;
$width-tab:1000px;
$sp-width: 800px;

@mixin sp($max-width:$sp-width) {
	@media only screen and (max-width: $max-width) {
		@content;
	}
}

@mixin pc($min-width:$sp-width) {
	@media only screen and (min-width: $min-width) {
		@content;
	}
}

*{
	margin: 0;
	color: white;
	font-family: 'Comfortaa', sans-serif;
	box-sizing: border-box;
}

html,body{
	position: relative;
	width: 100%;
	background-color: #000000;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}


h1 {
	
}